body {
  background-color: #182C5C;
}

.star-chart {
  border: 5px solid #3879A1;
  display: block;
  margin: auto;
  width: 1010px;
  height: 610px;
}

svg {
  display: block;
  margin: 5px auto;
  background-color: #010101;
}

.star-circle {
  fill: #FDF128;
}

.star-name {
  font-size: 10px;
  display: block;
  fill: grey;
}

.star-name.federation {
  fill: aqua;
}

.star-name.romulan-empire {
  fill: red;
}

.star-name.garidian-republic {
  fill: pink;
}

.star-name.elorg-bloc {
  fill: purple;
}

.star-name.cardassian-union {
  fill: teal;
}

.star-name.tzenkethi-coalition{
  fill: orange;
}

.star-name.klingon-empire{
  fill: mediumvioletred;
}

.star-name:hover {
  fill: blue;
}

.ship-info ul {
  color: #62F1D3;
  list-style: none;
}
